html,
body {
  color: black;
  font-family: 'Andada', serif;
  text-align: center;
}

#content {
 
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
  max-width: 760px;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
}

body {
  background: #FFF9F1;
  margin: 0;
  padding: 0;
}

p {
  text-align: left;
  font-size: 6vw;
}

h1 {
  font-size: 3vw;
}

a {
  text-decoration: underline;
  color: black
}

a:visited {
  color: black;
}

.dropcap {
  font-size: 6vw;
}

#content>* {
  background: #FFF9F1;
}

header {
  grid-area: header;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

header nav {
  align-self: center;
  margin: 2vw;
}

header a {
  font-size: 3vw;
}

header .logo {
  align-self: center;
  font-size: 2vw;
  margin: 2vw 2vw 2vw 2vw;
}

.robpic {
  margin-top: 1vw;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50vw;
  object-position: 35% 0;
}

.intro {
  margin: 10vw 10vw 10vw 10vw;

}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

nav {
  grid-area: nav;
}

section {
  grid-area: section;
}

footer {
  position: sticky;
  bottom: 0;
  margin-top: 150px;
  grid-area: footer;
  color: #FFF9F1;
  background: #1F1F1F !important;
}

.footer-text {
  margin: 5vw;
}

.footer-text a {
  color: #FFF9F1;
}

footer .ps {
  font-size: 1.5vw;
}

footer .pps {
  font-size: 1.25vw;
}


/* desktop grid */
@media screen and (min-width: 760px) {
  #content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 100%;
    grid-template-areas:
      "header header header header header header"
      "main main main main aside aside"
      "footer footer footer footer footer footer";
  }

  p {
    text-align: left;
    font-size: 3vw;
  }

.robpic {
  margin-top: 1vw;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50vw;
  object-position: 35% 0;
}


header nav {
  align-self: center;
  font-size: 2vw;
  margin: 2vw;
}

header .logo {
  align-self: center;
  font-size: 2vw;
  margin: 2vw 2vw 2vw 2vw;
}
footer {
  position: relative;
  margin-top: 0;
  grid-area: footer;
  color: #FFF9F1;
  background: #1F1F1F !important;
}


}


